[Unit]
Description=Logstash service

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill logstash
ExecStartPre=-/usr/bin/docker rm logstash
ExecStartPre=/usr/bin/docker pull zetaops/logstash

ExecStart=/bin/bash -c '/usr/bin/docker run -v /etc/localtime:/etc/localtime:ro -p 5044:5044 --name=logstash zetaops/logstash'
ExecStop=/usr/bin/docker stop logstash

[X-Fleet]
Conflicts=logstash.service
MachineMetadata=
